/* HEADER */
.container {
  max-width: 1600px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.navbar {
  background-color: black;
  color: #fff;
  height: 7em;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
  font-size: 1em;
}

.navbar a:hover {
  border-bottom: 1px #fff solid;
}

.navbar .flex {
  justify-content: space-between;
}

.site-logo {
    height: 5em;
    width: 5em;
}

.resume-btn {
    height: 4em;
    width: 7em;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 0.5em;
}

.mobile-header {
    display: none;
}

/* HERO */

.section-hero {
  background-color: black;
  height: 91vh;
  padding: 0em 25em;
  display: flex;
  align-items: center;
}

.hero {
  color:#fff;
}

.hero code {
  font-size: 1.5em;
}

.hero h1 {
  font-size: 4em;
  font-weight: bolder;
}

.hero h2 {
  font-size: 4em;
  font-weight: bolder;
}
.hero p {
  width: 30em;
  margin-top: 0.5em;
}

.contact-btn {
  border: 1px solid white;
  border-radius: 0.5em;
  height: 3em;
  width: 10em; 
  color: white;   
  margin-top: 3em;
}

/* ABOUT */
.section-about {
  background-color: black;
  height: 30em;
  padding: 0 20em;
  color: white;
}

.about-title {
  display: flex;
  align-items: center;
}

.section-about h1 {
  font-size: 3em;
}

.section-about code {
  color: #59ffd0;
}

.horizontal-line {
  height: 0.1em;
  width: 16em;
  background-color: white;
  margin-left: 1.5em;
}

.about{
display: grid;
grid-template-columns: repeat(2, 1fr);
align-items: center;
margin-top: 2em;
}

.about-info p:nth-child(2){
margin-top: 1em;
}

.about-image {
  padding-left: 5em;
}

.user-image {
  height: 15.5em;
  width: 17.8em;
  aspect-ratio: 1/1;
  object-fit: contain;
  border-radius: 0.5em;
}